<div>
  Size: {{size}}
  <mat-slider
          class="example-margin"
          [max]="selected.limit"
          [min]="3"
          [step]="1"
  >
    <input matSliderThumb [(ngModel)]="size">
  </mat-slider>
  <span>Fill: {{Math.trunc(chance * 100)}} %</span>
  <mat-slider
          class="example-margin"
          [max]="1"
          [min]="0"
          [step]=".01"
  >
    <input matSliderThumb [(ngModel)]="chance">
  </mat-slider>
</div>
<div>
  <button
    mat-button
    (click)="generateMatrix()"
    [disabled]="processing"
    class="button"
  >
    Generate
  </button>
  <button
    mat-button
    *ngIf="adjacencyMatrix.length"
    (click)="solve()"
    [disabled]="processing"
    class="button"
  >
    Calc
  </button>
  <mat-form-field  class="button" *ngIf="adjacencyMatrix.length">
    <mat-label>Choose method</mat-label>
    <mat-select [(value)]="selected" (valueChange)="resetGraph()" [disabled]="processing">
      <mat-option *ngFor="let method of methods" [value]="method">
        {{method.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="processing" class="info" >
    <mat-spinner class="spinner"></mat-spinner> {{ elapsedTime$ | async }}
  </div>
  <div *ngIf="solution" >
    <div class="info">
      [{{ solution.paths | number }}] ({{ executionTime }}) Distance: {{ solution.distance | number: '.0-2' }}
    </div>
    <div class="info">
      {{ solution.vertices.join(' ➢ ') }}
    </div>
  </div>
</div>

<div *ngIf="solution === null" style="color: #ff8484" class="info">
  Sorry but we haven't solution try other graph
</div>
<div style="overflow-x:auto;" *ngIf="adjacencyMatrix.length">
  <cuteness-graph
    *ngIf="size < 19 else noGraph"
    [adjacencyMatrix]="adjacencyMatrix"
    [solution]="solution?.vertices"
  ></cuteness-graph>

  <table mat-table [dataSource]="adjacencyMatrix" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns; index as colIndex" [matColumnDef]="column">
      <td mat-cell *matCellDef="let row">{{row[colIndex] | number: '.0-2'}}</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<ng-template #noGraph>
  <div>
    You can see graph if node count less 19
  </div>
</ng-template>
