<div>
  {{size}}
  <mat-slider
          class="example-margin"
          [max]="20"
          [min]="1"
          [step]="1"
  >
    <input matSliderThumb [(ngModel)]="size">
  </mat-slider>
</div>
<div>
  <button mat-button (click)="generateMatrix()" class="button"> Generate</button>
  <button mat-button (click)="solve()" class="button" *ngIf="adjacencyMatrix.length"> Calc </button>
  <mat-form-field  class="button" *ngIf="adjacencyMatrix.length">
    <mat-label>Choose method</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let method of methods" [value]="method.handler">
        {{method.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="solution" >
    <div class="info">
      Distance: {{solution.distance | number: '.0-2'}}
    </div>
    <div class="info">
      {{solution.vertices.join(' ➢ ')}}
    </div>
  </div>
</div>

<div *ngIf="solution === null" style="color: #ff8484" class="info">
  Sorry but we haven't solution try other graph
</div>
<div style="overflow-x:auto;" *ngIf="adjacencyMatrix.length">
  <cuteness-graph [adjacencyMatrix]="adjacencyMatrix" [solution]="solution?.vertices"></cuteness-graph>

  <table mat-table [dataSource]="adjacencyMatrix" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns; index as colIndex" [matColumnDef]="column">
      <td mat-cell *matCellDef="let row">{{row[colIndex] | number: '.0-2'}}</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

